[Desktop Entry]
Version=1.0
Type=Application
Name=Visual Studio Code
Comment=
Exec=start-vscode
Icon=code-context
Path=
Terminal=false
StartupNotify=false
